@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: peru;
    color: black;
}
.header {

    height: 80px;
    margin-top: 6px;
    margin-bottom: 10px;



}
.logo{
    height: 200px;
    margin: 10px;

}
.headerText{
    text-align: center;
    margin: 20px;
}
.container {
    margin-top: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: gray 2px 2px 2px;
}
.container p {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
.container p span.typed-text {
    font-weight: bolder;

    color: white;
}
.projects{
    height: 30vh;
    width:100vw;
    text-align: center;
    box-shadow: black 5px 5px 5px;
    margin: 10px;






}
.about{
    height: 30vh;
    width:100vw;
    text-align: center;
    box-shadow: black 5px 5px 5px;
    margin: 10px;


}
.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.container p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: black; }
    49% { background-color: black; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: grey; }
}